<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="mahmoudvic.org.phomunity">

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/> -->

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="false"
        android:theme="@style/AppTheme"
        tools:replace="android:supportsRtl">
        <activity
            android:name=".LoginActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".HomeActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".JoinOurTeamActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AboutUsActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StudioActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ContactUsActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FeedbackActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".UserProfileActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HelpActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".LookingSecondShooterActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TipsActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SecondShooterRegisterActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AssistantRegisterActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LookingAssiatantActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainSecondShooterActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EventDetailsActiivty"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />

        <activity
            android:name=".CourseDetailsActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CourseActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".VideosActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PostActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".PostDetailActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GroupMemberActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GroupsActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".DetailsActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UpdateProfileActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".IsellMainActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EvaluationPhotographyActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainEvaluationActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EvaluationVideoEditingActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EvaluationPhotoEditingActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EvaluationLightingActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EvaluationvideographyActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".IrentDetailedItemActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".ReservationOrderActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".IrentMainActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />

        <activity
            android:name=".IsellDetailedItemActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".SellCameraActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".StudioReservationOrderActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainSchoolActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ForgetActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LabActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LabReservationOrderActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EventsActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NotLoginAboutUsActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NotLoginJoinOurTeamActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MenuToolbarACtivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".NotificationToolbarActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".MenuToolbarACtivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".NotificationToolbarActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <service android:name=".NotificationService">
            <intent-filter>
                <action android:name="mahmoudvic.org.phomunity.services.NotificationService" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

        <receiver
            android:name=".boot_reciever.BootReceiver"
            android:enabled="true"
            android:exported="true"
            android:label="BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".services.MyService"
            android:enabled="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="mahmoudvic.org.phomunity.services.MyService" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
    </application>

</manifest>